.navbar {
  &__container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 25px;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
