.slider {
  position: relative;
  width: 100%;
  height: 500px;
  font-size: 1.75rem;
  cursor: w-resize;
  
  &__panel {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 500px;
    top: 0;
    left: 0;
    height: 500px;
  }
  
  &__top {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    background-color: rgba(92, 201, 162, 0.25);
    border-right: 2px solid black;
  }
}